.form-container {
  max-width: 90%;
  margin: 20px auto;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column; /* Default vertical alignment */
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  padding-right: 10px; /* Reduced padding */
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.flex-row {
  display: flex; /* Horizontal alignment for combined groups */
}

.flex-row > div {
  flex: 1; /* Equal width for each section */
  margin-right: 10px; /* Small space between sections */
}

.flex-row > div:last-child {
  margin-right: 0; /* No margin on the last item */
}

.heading-container {
  text-align: center;
}

.heading-line {
  border: none;
  border-top: 2px solid black;
  width: 100%; 
  margin: 0;
}

.centered-heading {
  text-align: center;
  padding-top: 10px;
}

.submi-group {
  display: flex;
  justify-content: center; 
}

.submi-btn {
  width: 25%; 
  padding: 10px 20px;
  background-color: #263459;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submi-btn:hover {
  background-color: #0056b3;
}



