.form-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .image-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .gap-above-submit {
    margin-top: 20px; /* Creates space above the submit button */
  }
  
  .submit-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  



  /* ProductDescription.css */
.form-container {
  padding: 20px;
}

.error-message {
  color: red; /* Warning message in red */
}

.image-grid {
  display: grid; /* Using CSS grid for layout */
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Space between images */
}

.preview-image {
  width: 80px; /* Small size */
  height: 80px; /* Small size */
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer; /* Cursor for clickable images */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Slightly dark background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 50%;
  height: 50%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.enlarged-image {
  max-width: 100%; /* Image doesn't exceed modal size */
  max-height: 100%; /* Image doesn't exceed modal size */
  object-fit: contain; /* Maintain aspect ratio */
}

.small-input input {
  width: 100px; /* Set a smaller width for price input */
}


.form-group {
  margin-bottom: 1em;
}

.input-common {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
  width: 64.4%;
}