

.header-product{
  margin-left: -850px;
}
.form-container with-navbar-gap{
  width: 80%; /* Example: 80% of the viewport width */
  margin: 0 auto; /* Center the container */
}
/* Media query for tablets */
@media screen and (max-width: 768px) {
  .form-container with-navbar-gap {
    width: 90%; /* Adjust width for tablets */
  }
}
/* Media query for mobile devices */
@media screen and (max-width: 480px) {
  .form-container with-navbar-gap{
    width: 95%; /* Adjust width for mobile devices */
  }
}

.input-box{
  margin-left: 300px;
  width: 400px;
  display: table-cell;
  height: 40px;
  margin-top: 20px;
}

.input-box[type="file"]{
  padding-bottom: 38px;
}

.form-box{
  display:table-row;
}

label{
  display: table-cell;

}

.shop-submit{
  width: 300px;
  background-color: #263459;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-left: 150px;
  border-radius: 5px;

}



